@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,300);

body {
    font-family: $body-font;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font;
    font-weight: bold;
}