.foot {
    background: #000;
    color: $med-grey;
    padding: 1em 0 2em;
    
    p {
        font-size: 80%;
        text-align: center;
        max-width: 85%;
        display: block;
        margin: 0 auto;
    }
}